kubectl create secret generic cloud-credentials \
  --from-literal=OS_PROJECT_NAME=eu-de \
  --from-literal=OS_REGION_NAME=eu-de \
  --from-literal=OS_AUTH_URL=https://iam.eu-de.otc.t-systems.com:443/v3 \
  --from-literal=OS_IDENTITY_API_VERSION=3 \
  --from-literal=OS_USER_DOMAIN_NAME=OTC-EU-DE-xxxxxxxxxxxxxxxxx \
  --from-literal=OS_USERNAME=xxxxxxx \
  --from-literal=OS_PASSWORD=xxxxxxx
